/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-left {
  float: left;
}

.info {
  margin-left: 5px;
} */

/* .user-list {
  width: 100%;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 5px;
}

.user-list:first-of-type {
  padding: 10px;
  margin: 10px;
}

.userList {
  width: 90%;
  margin: 10px auto;
  border:3px solid gray;
}
div.user.clearFix{
  width:100%;
  padding: 10px;
  border: 3px solid gray;

}
.clearFix::after{
  content: "";
  display: block;
  clear: both;
}

img {
  border-radius: 50%;
}
 */
